<header class="navbar">
    <a routerLink="/dashboard" class="logo">
        e-Agenda
    </a>
    
    <nav class="main-nav">
        <a 
            routerLink="/dashboard" 
            class="nav-link" 
            routerLinkActive="active-link" 
            [routerLinkActiveOptions]="{exact: true}"

        >
            Tableau de Bord
        </a>
        
        <a 
            routerLink="/events" 
            class="nav-link" 
            routerLinkActive="active-link"
        >
            Événements
        </a>
        
        <a
            routerLink="/calendar"
            class="nav-link"
            routerLinkActive="active-link"
        >
            Calendrier
        </a>

        <a
            routerLink="/profile"
            class="nav-link"
            routerLinkActive="active-link"
        >
            Profil
        </a>

        <a
            *ngIf="user()?.role === 'ADMIN'"
            routerLink="/admin"
            class="nav-link"
            routerLinkActive="active-link"
        >
            Admin
        </a>
    </nav>
    
    <div class="user-actions">
        <span *ngIf="user() as u" class="user-name">
            {{ u.firstName }} {{ u.lastName }}
        </span>
        
        <button (click)="logout()" class="logout-btn">
            Déconnexion
        </button>
    </div>
</header>